@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PAGINA DE EMERSON GRANADOS S4AN</h1>
    <img src="~/img/Bienvenido.jpg" alt="Bienvenido" style="max-width: 100%; height: auto; margin-top: 20px;" />
    <p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
